.flex-nav ul {
    border: 10px solid black;
    list-style-type: none;
    display: flex;
}

.flex-nav li {
    flex: 3;
}

.flex-nav .icon {
    flex: 1;
}

@media all and (max-width: 1000px) {

    .flex-nav ul {
        flex-wrap: wrap;
    }

    .flex-nav li {
        flex: 1 1 50%;
    }

    .flex-nav .icon {
        flex: 1 1 33%;
    }
}

@media all and (max-width: 500px) {
    .flex-nav li {
        flex-basis: 100%;
    }
}
