.box { font-size: 100px; }
.box1 { background-color: red; }
.box2 { background-color: orange; }
.box3 { background-color: yellow; }
.box4 { background-color: green; }
.box5 { background-color: darkcyan; }
.box6 { background-color: blue; }
.box7 { background-color: purple; }

.container {
    display: flex;
    flex-direction: row;
    border: 10px solid deeppink;
    height: 100vh;
    align-items: center;
}

.box {
    width: 300px;
}

.box1 {
    align-self: stretch;
}

.box3 {
    align-self: flex-end;
}

