.box { font-size: 100px; }
.box1 { background-color: red; }
.box2 { background-color: orange; }
.box3 { background-color: yellow; }
.box4 { background-color: green; }
.box5 { background-color: darkcyan; }
.box6 { background-color: blue; }
.box7 { background-color: purple; }

.container {
    display: flex;
    flex-direction: row;
    border: 10px solid deeppink;
}

.box {
    flex-basis: 150px;
}

.box4 {
    flex-grow: 1;
}

.box5 {
    flex-shrink: 10;
}

.box6 {
    flex: 5 3 300px;
}
